* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 50px 50px;
    font-family: "Parkinsans", sans-serif;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.banner img {
    width: 100%;
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    position: relative;
}

.banner h1 {
    position: absolute;
    top: 15px;
    left: 25px;
    color: rgb(118, 108, 170);
    font-size: 30px;
}