:root {
    --background-blue: rgb(189, 211, 231);
    --moriko-purple: rgb(118, 108, 170);
    --shirt-pink: rgb(232, 140, 184);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 50px 50px;
    font-family: "Parkinsans", sans-serif;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.banner img {
    width: 500px;
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.banner {
    position: relative;
}

.banner h1 {
    position: absolute;
    top: 15px;
    left: 25px;
    color: var(--moriko-purple);
    font-size: 25px;

}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

a,
a:active,
time {
    color: var(--shirt-pink);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--moriko-purple);
}